<!-- Services provide an easy way for us to share data and functionality throughout our app. The services we create are singletons that can be injected into controllers and other services, making them the ideal place for writing reusable code. -->

<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Services</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>

    <script type="text/javascript" src="1_app.js"></script>
  </head>

  <body>


    <div ng-app="app">
      <h1>Services</h1>
        <div ng-controller="ListCtrl as list">
          <!-- ng-repeat is foreach equivalent -->
          <p ng-repeat="messages in list.messages">
            {{messages.id}} - {{messages.text}}
          </p>
        </div>

        <div ng-controller="PostCtrl as post">
          <input type="text" ng-model="post.newMessage">
          <button type="button" ng-click="post.addMessage(post.newMessage)"></button>
        </div>

    </div>


  </body>

</html>
