<!DOCTYPE html>
<html>

  <head>
    <title>AngularJS Controllers</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <!-- module location -->
    <script type="text/javascript" src="1_app.js"></script>
  </head>

  <body>
    <!-- ng-app directive , where in our page an Angular application is running.-->
    <!--its attribute tells what module to look for when angular boots up-->
    <div ng-app="app">
      <h1>Controllers</h1>
      <div ng-controller="MainCtrl">
        <h3>
          <!-- Access $scope.message from MainCtrl -->
          {{ message }}
        </h3>
      </div>
    </div>
  </body>

</html>
