<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
  </head>

  <body ng-app="app">

<div ng-controller="TestCtrl">

    <input type="text" ng-model="test.myString" />
    <h2>
      {{ test.myString | capitalize }}
    </h2>

</div>


    <script>
    function TestCtrl() {
      // basic controller where we preset the scope myString variable
      var self = this;
      self.myString = "hello world";
    }

    // this is where the filter magic happens.
    function CapitalizeFilter() {
      // this is the function that Angular will execute when the expression is evaluated
      return function (text) {
        // text is the original string output of the Angular expression
        return text.toUpperCase();
        // and we simply return the text in upper case!
      }
    }

    angular.module('app', [])
    .controller('TestCtrl', TestCtrl)
    // define a filter called 'capitalize' that will invoke the CapitalizeFilter function
    .filter('capitalize', CapitalizeFilter);

    </script>


  </body>
</html>
