<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>

</head>

<body ng-app="app" ng-controller="TestCtrl as test">
  <h2>Search</h2>
  <input type="text" ng-model="search" />
  <p>
    ex: 99, 12.976
  </p>
<!-- Fileters locations based on text input "search" -->
  <p ng-repeat="location in test.locations | filter: search">
    {{ location.GPS }} <br>
  <b>  {{ location.phone_no}}</b>
  </p>


  <input type="text" ng-model="file.Picture" />
  <p>
    ex: pic1,pic2
  </p>
<!-- Seach for a specific attribute -->
<!-- ng-repeat, really handy for iterating over data  -->
  <p ng-repeat="location in test.locations | filter: file">
    <b>{{ location.Picture }}</b>
  </p>
</body>

</html>

<script>
  function TestCtrl() {
    var self = this;
    self.locations = [{
      Picture: "/uploads/images/pic1.jpg",
      GPS: "12.976982, 77.617639",
      phone_no: "9916204920"

    }, {
      Picture: "/uploads/images/pic2.jpg",
      GPS: "12.973106, 77.637549",
      phone_no: "9900404040"
    }, {
      Picture: "/uploads/images/pic3.jpg",
      GPS: "12.976982, 77.632435",
      phone_no: "0000000000"

    }];
  }

  angular.module('app', [])
    .controller('TestCtrl', TestCtrl);
</script>
