<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>

</head>

<body ng-app="app" ng-controller="TestCtrl as test">
  <h2>Built-in Filters</h2>
  <input type="text" ng-model="search" />
  <p>
    ex: 99, 12.976
  </p>
<!-- Fileters locations based on text input "search" -->
  <p ng-repeat="location in test.locations | filter: search">
    {{ location.GPS }} <br>
  <b>  {{ location.phone_no}}</b>
  </p>


  <input type="text" ng-model="file" />
  <p>
    ex: pic1,pic2
  </p>
<!-- Seach for a specific attribute -->
<h3>Sorted</h3>
<!-- BUILT IN FUNCTIONS -->
<!--  orderBy: , limitTo: ,  -->
<!--this filter will filter the entire collection against the search model,
      order the matched results by the Picture attribute, and limit the result set to 2 entries.
      Model data can be treated as a filterable collection.
  -->
  <p ng-repeat="location in test.locations | filter: file | orderBy: 'Picture' | limitTo:2">
    <b>{{ location.Picture }}</b>
  </p>
  <h3>Reverse Sorted</h3>
  <p ng-repeat="location in test.locations | filter: file | orderBy: '-Picture'">
    <b>{{ location.Picture }}</b>
  </p>
</body>
<br>
<br>
<h4>Further...</h4>
<a href="http://toddmotto.com/everything-about-custom-filters-in-angular-js/">Interesting Article</a>
    <a href="https://docs.angularjs.org/guide/filter">Official</a>

</html>

<script>
  function TestCtrl() {
    var self = this;
    self.locations = [{
      Picture: "/uploads/images/pic1.jpg",
      GPS: "12.976982, 77.617639",
      phone_no: "9916204920"

    }, {
      Picture: "/uploads/images/pic2.jpg",
      GPS: "12.973106, 77.637549",
      phone_no: "9900404040"
    }, {
      Picture: "/uploads/images/pic3.jpg",
      GPS: "12.976982, 77.632435",
      phone_no: "0000000000"

      }];
  }

  angular.module('app', [])
    .controller('TestCtrl', TestCtrl);
</script>
