<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Binding</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
  </head>

  <body>
    <!-- ng-app directive , where in our page an Angular application is running.-->
    <div ng-app>
      <h1>Binding</h1>
      <!-- ng-model is a directive in that binds a variable from an input field to a scope variable. -->
      <input type="text" ng-model="message">
      <!-- bind back message, connect variable with view -->
       <p>{{ message }}</p>
       <!-- Basic Expressions -->
       <p>{{ message + message}}</p>
       <p>{{ message === 'hello'}}</p>
       <p>{{ 1 + 2 }}</p>

    </div>


  </body>
</html>
