<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Binding</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
  </head>

  <body>
    <!-- ng-app directive , where in our page an Angular application is running.-->

    <div ng-app>
      <h1>Binding Using ng-bind</h1>
      <div ng-app>
      <!-- ng-bind is a directive in that binds a variable from an input field to a scope variable. -->
        <h1 ng-bind="'Binding ' + message"></h1>
        <!-- instead of ng-model & '{{ }}', use ng-bind eveywhere -->
        <input type="text" ng-model="message">
        <p ng-bind="message"></p>
        <p ng-bind="message + message"></p>
        <p ng-bind="message === 'hello'"></p>
        <p ng-bind="1 + 2"></p>
      </div>

    </div>


  </body>
</html>
